[Desktop Entry]
Encoding=UTF-8
Name=Mash
GenericName=Text Editor
Comment=Text Editor
X-GNOME-FullName=Mash
Exec=mash %F
Terminal=false
Icon=mash
Type=Application
Categories=TextEditor;IDE;Development
MimeType=text/plain;
StartupNotify=true
StartupWMClass=mash
